.navbar {
    display: flex;
    flex-direction: row;
}




nav {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 1;
    transition: background-color 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    overflow: visible; /* Content will flow out of the div */
}



nav.scrolled {
    background-color: #333; /* scrolled background color */
  }

nav a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    scroll-behavior: smooth;
    margin-right: 2rem;
}

nav a.current {
    color: lightblue;
}
  
nav a:hover {
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: plum;
    cursor: pointer;
}

.menu {
    display: none;
}

.nav-page {
    display: none;
}


@media (max-width: 750px) {
    .navbar {
        display: none;
    }

    .nav-page {
        display: none;
        background-color: grey;
        height: 50vh;
        width: 100vw;
        top: 0;
        transform: translateY(20rem);
        filter: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        
    }


    .menu {
        display: flex;
        margin-right: 5%;
        cursor: pointer;
    }
}