.navbar {
    display: flex;
    flex-direction: row;
}




nav {
    background-color: transparent;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 1;
    transition: background-color 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
    overflow: visible; /* Content will flow out of the div */
}



nav.scrolled {
    background-color: #333; /* scrolled background color */
  }

nav a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    scroll-behavior: smooth;
    margin-right: 2rem;
}

nav a.current {
    color: lightblue;
}
  
nav a:hover {
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: plum;
    cursor: pointer;
}

.menu {
    display: none;
}

.nav-page {
    display: none;
}


@media (max-width: 750px) {
    .navbar {
        display: none;
    }

    @keyframes appear {
        from {
            max-height: 0;
            display: none;
          }
          to {
            max-height: 100%;
            display: flex;
          }
      }

      @keyframes disappear {
        from {
            opacity: 1;
            display: flex;
        }
        to {
            opacity: 0;
            display: none;
        }
      }

    .appear-ani {
        animation-name: appear;
    }

    .disappear-ani {
        animation-name: disappear;
    }
      
    .flex {
        display: flex;
    }


    .nav-page {
        display: hidden;
        background-color: rgb(87, 94, 139);
        height: auto;
        width: 100vw;
        position: fixed;
        top: 3rem;
        filter: none;
        flex-direction: column;
        text-align: center;
        animation-duration: 1.5s;
        overflow: hidden;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        
    }

    .nav-page-item {
        margin-top: 1rem;
        text-align: center;
        padding-bottom: 1rem;
    }


    .menu {
        display: flex;
        margin-right: 3%;
        cursor: pointer;
        position: absolute;
        top: 1;
    }
}