.projects-container {
    background-color: rgb(200, 200, 200);
    min-height: 100vh;
    overflow: auto;
    padding-bottom: 5rem;
}

.full-project-comp {
    background-color: lightblue;
    margin: 2rem;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 10% auto auto;
    min-height: 32rem;
    margin-top: 3rem;
    border-radius: 15px;
    overflow: hidden;
    color: rgb(8, 8, 8);
}

.project-header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 200%;
}

.featured-project-overall {
    padding-top: 3rem;
    margin-bottom: 7rem;
}

.circle{
    border-radius: 50%;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.hover {
    background-color: rgba(0, 0, 0, .5);
}

.fill {
    background-color: rgba(0, 0, 0);
}

.tag-component {
    background-color: gold;
    border-radius: 10%;
    margin-left: 1rem;
    height: 40%;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;
    color: black;
    text-align: center;
}

.tag-component:hover {
    transform: translateY(-5px);
}

.full-project-title {
    grid-column: 1;
    grid-row: 1;
    margin: 1rem;
    text-align: center;
}

.full-project-img-div {
    text-align: center;
    margin-top: 1em;
}

.button-control {
    margin-left: 45%;
}
.full-project-img {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.full-project-caption {
    grid-column: 1;
    display: block; /* allows the margin property to center the div */
    margin: 0 auto; /* centers the div horizontally within the parent */
    margin-bottom: 1rem;
}

.full-project-date {
    grid-column: 2;
    grid-row: 1;
    margin: 1rem;
    text-align: center;
}

.full-project-des {
    grid-column: 2; 
    grid-row: 2;
    padding-top: 2rem;
    margin-right: 3rem;
    font-size: large;
}


.project-links {
    margin-left: 1rem;
    margin-bottom: 1rem;
    grid-column: 1;
}

.project-icon {
    transition: transform 0.3s ease-in-out;
}

.project-icon:hover {
    transform: translateY(-5px);
}

.project-tags {
    grid-column: 2; 
    display: flex;
    flex-direction: row;
}

.specific-tags {
    display: flex;
    flex-direction: row;
}



@media (max-width: 1056px) {
    .full-project-comp {
        background-color: lightblue;
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 5% 5% auto auto auto;
        min-height: 32rem;
        margin-top: 3rem;
        border-radius: 15px;
        overflow: auto;
        color: rgb(8, 8, 8);
        min-height: 65rem;
    }

    .full-project-title {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .full-project-date {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .full-project-img-div {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    .full-project-des {
        grid-row: 4;
        grid-column: 1 / 3;
        margin-left: 1rem;
    }

    .project-links {
        grid-row: 5;
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        transform: translateY(-10px);
    }

    .project-tags {
        grid-row: 5;
        grid-column: 1;
        height: 1rem;
        width: 100%;
        margin-left: 1rem;
    }
}


@media (max-width: 758px) {
    .full-project-comp {
        background-color: lightblue;
        margin: 2rem;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        min-height: 32rem;
        margin-top: 3rem;
        border-radius: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        color: rgb(8, 8, 8);
        min-height: 65rem;
    }

    .full-project-title {
        grid-row: 1;
        grid-column: 1;
    }

    .full-project-date {
        grid-row: 2;
        grid-column: 1;
    }

    .full-project-img-div {
        grid-row: 3;
        grid-column: 1;
    }

    .full-project-des {
        grid-row: 4;
        grid-column: 1;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .project-links {
        grid-row: 6;
        grid-column: 1;
        display: flex;
        justify-content: flex-start;
    }

    .project-tags {
        grid-row: 5;
        grid-column: 1;
        height: 1rem;
        width: 100%;
        margin-left: 1rem;
        font-size: 14px;
    }
}

@media (max-width: 660px) {

    .full-project-comp {
        background-color: lightblue;
        margin: 2rem;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto auto auto;
        min-height: 32rem;
        margin-top: 3rem;
        border-radius: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        color: rgb(8, 8, 8);
        min-height: 65rem;
    }

    .specific-tags {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .project-links {
        grid-row: 5;
        grid-column: 1;
        display: flex;
        justify-content: flex-end;
    }

    .project-tags {
        grid-row: 5;
        grid-column: 1;
        height: 1rem;
        width: 100%;
        margin-left: 1rem;
        font-size: 14px;
    }
}